<!-- views/partials/footer.ejs -->
<footer id="footer" class="footer" role="contentinfo">
  <div class="footer-inner clearfix">
    <p>
    <strong>The Codex Mythica</strong> &copy; 2017
    <a href="https://itsericwoodward.com/" class="p-author h-card" rel="author" title="Eric Woodward">Eric Woodward</a>. <em>Mythic Wars</em> and the Mythic Wars logo &copy; and &trade; Eric Woodward, licensed by Excalibre Games. <em>Excalibre Games</em> and the Excalibre Games parthenon &copy; and &trade; <a href="http://excalibregames.com/" title="Excalibre Games">Excalibre Games</a>.
    </p>

    <p>
      Question or concerns? Find us on Twitter <a href="https://twitter.com/MythicWarsGame">@MythicWarsGame</a>, or send us an e-mail at
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;
  &#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#109;&#121;&#116;&#104;&#105;&#99;&#119;&#97;&#114;&#115;&#103;&#97;&#109;&#101;&#46;&#99;&#111;&#109;">
  &#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#109;&#121;&#116;&#104;&#105;&#99;&#119;&#97;&#114;&#115;&#103;&#97;&#109;&#101;&#46;&#99;&#111;&#109;
      </a>.
    </p>

    <p>
      Powered by
      <a href="https://nodejs.org/">Node</a>,
      <a href="https://nginx.org/">nginx</a>,
      <a href="https://atom.io/">Atom</a>,
      and <strong>the will of the gods</strong>.
    </p>
    <a href="#" class="footer-topLink topLink">[ Go to Top ]</a>
  </div>
</footer>
