<!-- views/pages/index.ejs -->
<% include ./partials/top %>

<body class="container">

<% include ./partials/header %>

<main class='main'>

  <% include ./partials/cards %>

</main>

<% include ./partials/footer %>

<% include ./partials/scripts %>

</body>
</html>
