<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ERROR! | <%= site.title %></title>

  <style>
    body {
      background-color: #333;
      color: #ccc;
    }
  </style></head>
<body class="container">

<main>
  <h1>Error</h1>

  <pre>
    <%=message%>

    <%=error.stack%>
  </pre>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
