<!-- views/pages/search.ejs -->
<% include ./partials/top %>

<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main class='main'>

  <% include ./partials/cards %>
  
  <% include ./partials/search_form %>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

<% include ./partials/scripts %>

</body>
</html>
