<!-- views/pages/search.ejs -->
<% include ./partials/top %>

<body class="container">

<% include ./partials/header %>

<main class='main'>

  <% include ./partials/cards %>

  <% include ./partials/search_form %>

</main>

<% include ./partials/footer %>

<% include ./partials/scripts %>

</body>
</html>
