<!-- views/single.ejs -->
<% include ./partials/top %>

<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>

  <% include ./partials/card %>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

<% include ./partials/scripts %>

</body>
</html>
